*{
	margin: 0;
	padding: 0;
}

html,body{
	height: 100%; 
	background: gray;
}

.clear{
	clear: both;
}

.container{
	width: 1000px;
	height: 100%;
	margin: 20px auto;
	background: green;
}

.header{
	width: 1000px;
	height: 100px;
	padding: 20px 0;
	margin: 20px auto;
	background: blue;
}

.menu-left{
	width: 200px;
	height: 400px;
	padding: 20px 0;
	margin-left:25px;
	background: red;
}

.post{
	float: right;
	width: 700px;
	height: 400px;
	margin-right:25px;
	padding: 20px 0;
	background: red;
}

.footer{
	width: 1000px;
	height: 100px;
	padding: 20px 0;
	margin: 20px auto;
	background: yellow;
}